---
layout: default
---

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
      

  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
    <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>


  
  <!--<span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  -->
  <!-- TODO: insert all variables here for API: username, date, body, link  -->
  {% include comments.html username="leekacool" date="21 Jan 2021 04:34" body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor porttitor, viverra lectus eu, pharetra turpis. Aenean fermentum ante sed tempor luctus. Nam id ornare lacus. Pellentesque pharetra, sem a malesuada varius, dui turpis ultricies ante, eget maximus nisi enim vitae sapien. Etiam" %}

</section>